


h1 { margin: 0; padding: 0; }
h2 { margin: 0; padding: 0; }


#header {
height: 40px;
background: url(images/bgtop.png) repeat-x;

}
#header h1 {
margin: 0;
padding: 0 0 0 10px;
height: 40px;
line-height: 38px;
font-weight: 100;
font-size: 20px;
letter-spacing: -1px;
color: #eee;
}
#header h1 a { text-decoration: none; color: #eee; }
#header h1 a:hover { text-decoration: none; color: #fff; }

.menu {
height: 40px;
line-height: 38px;
float: right;
}

.menu ul {
list-style-type: none;
margin: 0;
}
.menu ul li {
display: block;
float: left;
}
.menu ul li a {
display: block;
padding: 0 10px 0 10px;
text-decoration: none;
color: #eee;
font-weight: 100;
}
.menu ul li a:hover {
color: #fff;
}

#contentwrap {

}

.news {
    color: #00529B;
    background-color: #D8D8D8;
    padding:5px;
}

.warning {
    color: #ffffff;
    background-color: #1C1C1C;
    background-image: url('icons/alert.png');
    padding:5px;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}

.currentcat {
    color: #ffffff;
    background-color: ##D8D8D8;
    border-style:solid;
    border-color:#1C1C1C;
    border:1px;
    padding:5px;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}

#content {
width: 760px;

padding:10px;
}
#content h2 {
margin: 0;
color: #23318F;
line-height: 30px;
font-size: 18px;
font-weight: 100;
}

#content p { padding: 0 0 10px 0; }
#content ul { padding: 0 20px 10px 30px; }


#footer { 
text-align: center;
background: url(images/footer.png) no-repeat;
height: 50px;
line-height: 50px;
color: #777;
font-size: 12px;
}
#footer p { padding: 0; margin: 0; }
#footer a { color: #777; }
#footer a:hover { text-decoration: underline; }


img {	
	border: 0;
}
form {	
	padding: 0;
	margin: 0;
	width:100%;
}

.box {
	background: #fff;
	padding: 5px;
	margin-bottom: 10px;
}
.box .content {
	padding: 0px 5px 5px 5px;
}



}
td.field {
	text-align: right;
}

.avatar {
  max-width: 50px;
  max-height: 50px;
}
.postimage {
  max-width: 300px;
  max-height: 300px;
}






.info {
    color: #00529B;
    background-color: #BDE5F8;
    padding:5px;
}

.warning {
    color: #ffffff;
    background-color: #1C1C1C;
    padding:5px;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}

.error {
color: #D8000C;
background-color: #FFBABA;
padding:5px;
}

body {
	padding-bottom: 0;
	margin-bottom: 0;
}



/** New styles **/


.postbit {
	font-size: 13px;
	color: #333;
}

.postbit a {
	color: #333;
	font-weight: bold;
}

.postbit .avatar {
	width: 50px;
	height: 50px;
	vertical-align: middle;
	float: left;
	margin-right: 10px;
}

.button-area {
	background: #efefef;
	padding: 10px;
}

.btn-group2{
      bottom: 20px;
    position: relative;
    top: 20px;

}

.footer {
	color: #B0B3B7;
	text-align: center;
	font-size: 100%;
}

@media (max-width: 768px)
{
	.footer {
		font-size: 12px;
	}
}
